Django
pillow
django-cleanup
django-allauth
django-htmx
celery
gunicorn
psycopg2-binary
python-decouple
redis
django-redis
django-celery-results
flower
django-celery-beat
django-admin-honeypot-updated-2021
django-resized
requests
django-admin-env-notice